body,
html {
  background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}
h1{
  
  font-size: 3rem;
  color:rgb(232, 82, 82);
}
hr{
  max-width: 500px;
  width: 100%;
  border-color: orangered;
  border-width: 3px;
}
.btn{
 
  background-color: orangered;
  border-color: orangered;
  color: black;
  font-weight: 700 ;
  border-radius: 300px;
  text-transform: uppercase;
}
.btn-xl{
  padding: 1rem 2rem;
}
.btn-xl:hover{
  background-color:black;
  border-color: black;
  color: orangered;
  border-width: 4px;
}
body{
  margin-top: 3rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
